  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <p>
          I’m Mustaf, I have done my Web Developer adept in all stages of advanced web development.
          Highly skilled full-stack web developer with expertise in front and back end development using a variety of
          technologies, including React, Node.js, express, mongoodb, JavaScript, PHP, SQL, Laravel, Flask, and Django.
          Proven ability to
          effectively manage and complete projects in a timely and efficient manner.
          Also have a basic understanding of programming, data science, data stracures and algorithms.
          Able to effectively self-manage during independent projects, as well as collaborate in a team setting.
        </p>
      </div>

      <div class="row">
        <!-- <div class="col-lg-4">
          <img src="static/img/profile-img.jpg" class="img-fluid" height="100" alt="">
        </div> -->
        <div class="col-lg-12 pt-4 pt-lg-0 content">
          <h3>Web Developer.</h3>
          <p class="fst-italic">

          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Name:</strong> <span>Mustaf Abubakar</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+252 619 355938</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Mogadishu, Somalia</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>musdhafa42@gmail.com</span>
                </li>
                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
              </ul>
            </div>
          </div>
          <p>
          </p>
        </div>
      </div>

    </div>
  </section>